/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.blur {
  filter: blur(15px);
}

.sepia {
  filter: sepia(0.6);
}

.brightness {
  filter: brightness(0.5);
}

.grayscale {
  filter: grayscale(80%);
}

.hue-rotate {
  filter: hue-rotate(45deg);
}

.saturate {
  filter: saturate(400%);
}

.combo {
  filter: sepia(0.6) brightness(0.5);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--wght-text);
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: clamp(var(--min-block-width), var(--recommend-block-width), var(--max-block-width));
  max-block-size: 368px;
  height: 500px;
  border: 2px solid black;
  font-family: var(--accent-font), sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.header_header-title {
  font-size: clamp(49px, 1em, 65px);
  margin: 0 auto;
}

.header_header-description {
  margin-top: 20px;
  font-size: clamp(14px, 1em, 23px);
  text-transform: uppercase;
}

.main {
  margin-top: 100px;
}

.card-list  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  width: clamp(var(--min-block-width), var(--recommend-block-width), var(--max-block-width));
  border: 2px solid #000;
  background-color: #fff;
}

.card-title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--wght-title);
  padding: 5px 10px;
  border-bottom: 2px solid #000;
}

.card-media-content {
  position: relative;
}

.card-media-content .card-media-content-label {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  position: absolute;
  right: 25px;
  top: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  color: #000;
  text-shadow: 1px var(--text-stroke-color);
  z-index: 1;
}

@supports((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .card-media-content .card-media-content-label {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

.card-media-content .card-media-content-image {
  min-width: 100%;
  min-height: 100%;
  display: block;
}

.card-content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-top: 2px solid #000;
}

.card-content .buttons {
  margin-left: auto;
  width: auto;
  border: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.card-content .card__icon-button {
  background-color: transparent;
  max-block-size: 38px;
  padding: 7px;
  border: transparent 2px solid;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid #000;
}

.card-content .card__like-button {
  border: 2px solid #000;
  padding-inline: 17px;
  padding-block: 8px;
  min-inline-size: 130px;
  color:var(--white-color);
  background-color: var(--white-color);
  display: block;
  font-size: 14px;
  min-block-size: 38px;
}

.card__like-button .button__text {
  position: relative;
  mix-blend-mode: difference;
  font-family: var(--accent-font), sans-serif;
  line-height: 90%;
  font-size: 14px;
}

.save-button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin: 50px auto 100px;
  padding-inline: 20px;
  padding-block: 15px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  border: 2px solid #000;
  color:var(--white-color);
  background-color: var(--white-color);
}

.save-button .save-button-img {
  inline-size: 21px;
  block-size: 21px;
  position: relative;
  mix-blend-mode: difference;
  fill: var(--white-color);
}

.save-button .button__text {
  align-items: center;
  mix-blend-mode: difference;
}

dialog[open] {
  inline-size: clamp(341px, 100%, 353px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 2px solid #000;
  font-family: var(--accent-font), sans-serif;
  position: fixed;
  inset: 0;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

dialog[open] .insert-floppy-content {
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center;
  gap: 20px;
}

.insert-floppy-content svg {
  width: 39px;
  height: 39px;
}

.insert-floppy-text {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.ok-button {
  display: block;
  inline-size: 100%;
  padding-block: 9px;
  padding-inline: 17px;
  background-color: transparent;
  border: 2px solid #000;
  color: var(--white-color);
}

.ok-button span {
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.button-shadow {
  transition: box-shadow 0.3s ease;
}

.button-shadow:focus {
  outline: none;
}

.button-shadow:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-button-shadow-color);
}

.animated-button {
  position: relative;
}

.animated-button::before {
  content: '';
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  background-color: #000;
  transform-origin: left;
}

.animated-button:hover:before {
  transform: scaleX(1);
}


@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }

  dialog[open] {
    padding: 30px 40px;
  }
}