/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --wght-title: 715;
  --wght-text: 410;
  --background-gradient:
          repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
          repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
          linear-gradient(#e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --min-block-width: 375px;
  --max-block-width: 700px;
  --recommend-block-width: 100%;
  --text-stroke-color: #fff;
  --accent-button-shadow-color: #000;
}
